<?xml version="1.0"?>
<launch>
    <arg name="respawn" default="true" />
    <arg name="debug" default="false" />
    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix" value="gdb -ex run --args" />
    <arg name="node_name" default="arena_camera_node" />
    <arg name="compression_name" default="image_raw/compressed" />
    <arg name="compression_params" default="{format: jpeg, jpeg_quality: 90, png_level: 9}" />
        
    <!-- The TF frame name to publish camera messages under -->
    <arg name="camera_frame" default="front_left" />

    <!-- The ip address of the camera to use -->
    <arg name="device_user_id" default="front_left" />

    <!-- The CameraInfo URL (Uniform Resource Locator) where the optional intrinsic
    camera calibration parameters are stored. This URL string will be parsed
    from the ROS-CameraInfoManager:
    http://docs.ros.org/api/camera_info_manager/html/classcamera__info__manager_1_1CameraInfoManager.html#details -->
    <!--<arg name="camera_info_url" default="file://$(find arena_camera)/calibrations/camera_fl_intrinsics.yaml" />-->
    <arg name="camera_info_url" default="file://$(find arena_camera)/calibrations/camera_fl_intrinsics.yaml" />

    <!-- The encoding of the pixels - channel meaning, ordering, size
    taken from the list of strings in include/sensor_msgs/image_encodings.h
    The supported encodings are 'mono8', 'bgr8', 'rgb8', 'bayer_bggr8',
    'bayer_gbrg8' and 'bayer_rggb8'
    Default values are 'mono8' and 'rgb8' -->
    <arg name="image_encoding" default="rgb8" />

    <!-- The desired publisher frame rate if listening to the topics.
    This parameter can only be set once at startup
    Calling the GrabImages-Action can result in a higher framerate -->
    <arg name="frame_rate" default="5.0" />

    <!-- Decimation factor to get lower-resolution images. Rows or columns of 
    pixels are thrown away (evenly spaced), leaving a smaller image, of size
    (width / decimation_x) x (height / decimation_y).
    The default values are decimation_x = decimation_y = 1 (no subsampling). -->
    <arg name="decimation_x" default="1" />
    <arg name="decimation_y" default="1" />

    <!-- Binning factor to get downsampled images. It refers here to any camera
    setting which combines rectangular neighborhoods of pixels into larger
    "super-pixels." It reduces the resolution of the output image to
    (width / binning_x) x (height / binning_y).
    The default values binning_x = binning_y = 0 are considered the same
    as binning_x = binning_y = 1 (no subsampling). -->
    <arg name="binning_x" default="1" />
    <arg name="binning_y" default="1" />

    <!--Mode of camera's shutter.
    The supported modes are "rolling", "global" and "global_reset"
    Default value is "" (empty) means default_shutter_mode-->
    <arg name="shutter_mode" default="" />

    <!--The exposure time in microseconds to be set after opening the camera.-->
    <arg name="exposure" default="10000.0" />

    <!--The target gain in percent of the maximal value the camera supports
    For USB-Cameras, the gain is in dB, for GigE-Cameras it is given in so
    called 'device specific units'.-->
    <arg name="gain" default="0.5" />

    <!--Gamma correction of pixel intensity.
    Adjusts the brightness of the pixel values output by the camera's sensor
    to account for a non-linearity in the human perception of brightness or
    of the display system (such as CRT).-->
    <arg name="gamma" default="1.0" />

    <!--The average intensity value of the images. It depends the exposure time
    as well as the gain setting. If 'exposure' is provided, the interface will
    try to reach the desired brightness by only varying the gain. (What may
    often fail, because the range of possible exposure vaules is many
    times higher than the gain range). If 'gain' is provided, the interface will
    try to reach the desired brightness by only varying the exposure time. If
    gain AND exposure are given, it is not possible to reach the brightness,
    because both are assumed to be fix.. -->
    <arg name="brightness" default="40" />

    <!--Only relevant, if 'brightness' is set:
    The brightness_continuous flag controls the auto brightness function.
    If it is set to false, the brightness will only be reached once.
    Hence changing light conditions lead to changing brightness values.
    If it is set to true, the given brightness will be reached continuously,
    trying to adapt to changing light conditions. This is only possible for
    values in the possible auto range of the arena API which is e.g. [50 - 205]
    for acA2500-14um and acA1920-40gm. -->
    <arg name="brightness_continuous" default="true" />

    <!--Only relevant, if 'brightness' is set:
    If the camera should try to reach and / or keep the brightness, hence
    adapting to changing light conditions, at least one of the following flags
    must be set.
    If both are set, the interface will use the profile that tries to keep the
    gain at minimum to reduce white noise.
    The exposure_auto flag indicates, that the desired brightness will be
    reached by adapting the exposure time.
    The gain_auto flag indicates, that the desired brightness will be
    reached by adapting the gain.. -->
    <arg name="exposure_auto" default="true" />
    <arg name="gain_auto" default="true" />

    <!-- The timeout while searching the exposure which is connected to the
    desired brightness. For slow system this has to be increased.. -->
    <arg name="exposure_search_timeout" default="15.0" />

    <!-- The exposure search can be limited with an upper bound. This is to prevent
    very high exposure times and resulting timeouts.
    A typical value for this upper bound is ~2000000us.. -->
    <arg name="auto_exposure_upper_limit" default="2000000.0" />

    <!-- The MTU size. Only used for GigE cameras.
    To prevent lost frames configure the camera has to be configured
    with the MTU size the network card supports. A value greater 3000
    should be good (1500 for RaspberryPI). -->
    <arg name="mtu_size" default="9000" />

    <!-- Only used for GigE cameras.
    The inter-package delay in ticks to prevent lost frames.
    For most of GigE-Cameras, a value of 1000 is reasonable.
    For cameras used on a RaspberryPI this value should be set to 11772. -->
    <arg name="inter_pkg_delay" default="2000" />

    <node name="$(arg node_name)" ns="$(arg device_user_id)" pkg="arena_camera" type="arena_camera_node" output="screen"
          respawn="$(arg respawn)" launch-prefix="$(arg launch_prefix)">
        <rosparam param="$(arg compression_name)" subst_value="True">$(arg compression_params)</rosparam>
        <param name="camera_frame" value="$(arg camera_frame)" />
        <param name="device_user_id" value="$(arg device_user_id)" />
        <param name="camera_info_url" value="$(arg camera_info_url)" />
        <param name="image_encoding" value="$(arg image_encoding)" />
        <param name="frame_rate" value="$(arg frame_rate)" />
        <param name="decimation_x" value="$(arg decimation_x)" />
        <param name="decimation_y" value="$(arg decimation_y)" />
        <param name="binning_x" value="$(arg binning_x)" />
        <param name="binning_y" value="$(arg binning_y)" />
        <param name="shutter_mode" value="$(arg shutter_mode)" />
        <!-- <param name="exposure" value="$(arg exposure)" />
        <param name="gain" value="$(arg gain)" />
        <param name="gamma" value="$(arg gamma)" />
        <param name="brightness" value="$(arg brightness)" />
        <param name="brightness_continuous" value="$(arg brightness_continuous)" /> -->
        <param name="exposure_auto" value="$(arg exposure_auto)" />
        <param name="gain_auto" value="$(arg gain_auto)" />
        <param name="exposure_search_timeout" value="$(arg exposure_search_timeout)" />
        <!-- <param name="auto_exposure_upper_limit" value="$(arg auto_exposure_upper_limit)" /> -->
        <param name="mtu_size" value="$(arg mtu_size)" />
        <param name="inter_pkg_delay" value="$(arg inter_pkg_delay)" />
    </node>
</launch>